.container{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin:auto;

}

.grid{

    float: left;
    background-color: black;
    margin: 1px;
}

#reset {
    clear: both;
    margin-left: 650px;
}